/www/app/config/parameters.yml
/www/build/
/www/phpunit.xml
/www/var/*
!/www/var/cache
/www/var/cache/*
!www/var/cache/.gitkeep
!/www/var/logs
/www/var/logs/*
!www/var/logs/.gitkeep
!/www/var/sessions
/www/var/sessions/*
!www/var/sessions/.gitkeep
!www/var/SymfonyRequirements.php
/www/vendor/
/www/web/bundles/

.idea/
.vagrant/
.bash*
.DS_Store
