parameters:
    locale: ru
    secret: c10433b11dc4ad101034379ec10c8b451bb
    mongodb.host: localhost
    mongodb.port: 27146
    mongodb.dsn: 'mongodb://localhost:27017,localhost2:27017'
    mailer_transport: mail
    mailer_host: 127.0.0.1
    mailer_user: do-not-reply@russianplace.com
    mailer_password: null
    mailer_port: 25
    mailer_security: null

    mongodb.main_storage.database: rp_main
    mongodb.token_storage.database: rp_token
    
    redis.host: localhost
    redis.port: 6379
    elasticsearch.host: 172.28.128.3
    elasticsearch.port: 9200